
/* COSAS PARA EL CARRUSEL DE IMAGENES PRINCIPAL */
/* Contenedor del carrusel*/
.promo-carousel {
    margin-bottom: 30px;
    position: relative;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
/* Classe img para que encaje en la pantalla */
.promo-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* Promo arrows */
.promo-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.5rem;
    background: rgba(255, 255, 255, 0.4);
    color: rgb(63, 63, 63);
    border: none;
    border-radius: 50%;
    width: 75px;
    height: 75px;
    cursor: pointer;
}
.promo-arrow-left {
    left: 15px;
}
.promo-arrow-right {
    right: 15px;
}
/* FIN DE COSAS DE CARRUSEL PRINCIPAL */

